name: CI

on:
  pull_request:
    branches:
      - develop
      - master
  push:
    branches:
      - develop
      - master
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - run: npm ci

      - name: Cache node_modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{runner.os}}-node-${{hashFiles('**/package-lock.json')}}
      - run: npm test -- --coverage
        env:
          CI: true

      - name: Upload Coverage
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v1
        with:
          name: code_coverage
          path: coverage

      - name: Build Project
        if: github.event_name == 'push'
        run: npm run build

      - name: Upload Build
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v1
        with:
          name: build
          path: build

      - name: Create Release
        if: github.event_name == 'push' && github.ref =='ref/heads/master'
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Deploy to Staging
        if: github.event_name == 'push' && github.ref =='ref/heads/develop'
        run: npx surge --project ./build --domain reactapp-clerod.surge.sh
        env:
          SURGE_LOGIN: ${{secrets.SURGE_LOGIN}}
          SURGE_TOKEN: ${{secrets.SURGE_TOKEN}}
